language: c
before_install:
  - sudo add-apt-repository -y ppa:terry.guo/gcc-arm-embedded
  - sudo apt-get update -q
  - sudo apt-get install -yq gcc-arm-none-eabi
before_script:
 - arm-none-eabi-gcc --version
compiler:
  - gcc
env:
  matrix:
    - CONFIG=teensy-lc/nsh
script:
  - "echo $CONFIG"
  - "cd nuttx/tools && ./configure teensy-lc/nsh"
  - make -C nuttx
